body{
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.container{
  /* border:1px solid red; */
  margin-top: 1rem;
}
.card{
  /* border:1px solid blue; */
  box-sizing: border-box;
  transition: .3s ease-in-out;
}
.card:hover{
  box-shadow: 5px 15px 15px 10px rgba(0,0,0,0.1);
}
.card img{
  width: auto;
  height:12rem;
  object-fit: contain;
  margin:0.5rem;
  /* border:1px solid red; */
}
.card-title{
  font-weight: bold;
}
.card-description{
  font-size: 0.8rem;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

  white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
	word-wrap: break-word;
}
.productos{
  /* border:1px solid green; */
}


nav .container-fluid{
  width:100%;
  /* border:1px solid red; */
  display:flex;
  justify-content:space-between;
}

.form-control:focus{
  box-shadow: 0 0 0  rgba(0,0,0,0.1);
}

.navbar-collapse{
  flex-grow: 0;
  justify-content:flex-end
}